.vs/Forest/CopilotIndices/17.12.38.29086/CodeChunks.db-shm
.vs/Forest/CopilotIndices/17.12.38.29086/CodeChunks.db-wal
/.vs/Forest/CopilotIndices
.vs/Forest/CopilotIndices/17.12.38.29086/SemanticSymbols.db-shm
Forest.Data/bin/Debug/net8.0/Forest.Data.dll
/Forest.Data/bin
/Forest.Data/obj
/Forest.Services/bin
/Forest.Services/obj
/Forest.Tests/bin
/Forest.Tests/obj
/Forest/bin
/Forest/obj
