
@{
    ViewData["Title"] = "AddUserToRole";
}

<h1>User Role for added successfully</h1>
@Html.ActionLink("Check User Roles", "GetRolesForUser")
@* <div>
    <ol>
        @foreach (string role in Model)
        {
            <li>@role</li>
        }
    </ol>
</div> *@

